{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue sourse -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- chart sourse -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <title>Stretcher Fix</title>
</head>

<body>
    <div>
        <nav class="nav_bar">
            {% if user.is_authenticated %}
            <a href="{% url 'stretches:home' %}" id="home_tag">Home</a>
            <a href="{% url 'users:profile' user.username %}">{{user.username}}</a>
            <a href="{% url 'logout' %}">Logout</a>

            {% else %}

            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'users:signup' %}">Register</a>

            {% endif %}
        </nav>
        <!-- put form here and then add an action that speaks to backend  -->


        {% block content %}
        <div class="home-container">
            <h3>Start Search</h3>
            <hr>
            <!-- <form action="" method="">
                <div id="filter">
                    <input type="text" placeholder="Enter body part" name="">
                    <button type="submit">search</button>
                </div>
            </form> -->

            <form action="" method="POST">
                {% csrf_token %}
                <div id="filter">
                    <input type="text" placeholder="Enter body part" name="bodypart">
                    <button type="submit">search</button>
                </div>
            </form>

            <div id="exercises">
                {% if user.is_authenticated %}
                {{exc_name}}
                <br>
                {{exc_equ}}
                <br>
                {{exc_inst}}
                {% endif %}
            </div>

            <a href="{% url 'stretches:add' %}">New stretch</a>

        </div>


        <div>
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div id="chart">
            <script>
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['neck', 'lower back', 'middle_back', 'glutes', 'traps'],
                        datasets: [{
                            label: 'Hours spent stretching',
                            data: [1.5, .75, .25, 1, .25, 7, 8, 9, 10],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>

    {% endblock %}

</body>



</html>